<p>Find me in app/views/homes/top.html.erb</p>

<h1>welcome to Bookers !!</h1>

<P>In Bookers,</P>

<P>you can share and exchange your opinions , inpressions , and emotions</P>

<P>about various books!</P>

<a href="/users/sign_in">Log in</a>
<a  href="/users/sign_up">Sign up</a>
 
